<!DOCTYPE html>
<html lang="en" ng-app="AddMusicApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>addMusic</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="http://jtblin.github.io/angular-chart.js/node_modules/angular/angular.min.js"></script>
    <script src="http://jtblin.github.io/angular-chart.js/node_modules/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="addMusic/addMusic.controller.js"></script>
</head>

<body>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h4 class="text-white">Collapsed content</h4>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
        </div>
        <nav class="navbar navbar-light" style="background-color: #a9cee9;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search ">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

        </nav>
    </div>
    <div class="container" ng-controller="AddMusicCtrl">
        <div class="row">
            <div class="col-md-6">

                <ul class="list-group">
                    <div class="alert alert-primary" ng-if="addMessage">{{addMessage}}</div>
                    <button class="btn btn-primary" ng-click="addMusicbox()">Add</button>
                    <li class="list-group-item" ng-repeat="musicbox in musicboxs" ng-click="selectMusicBox($index)">
                        <span> {{musicbox.id+" "+musicbox.name}} </span>
                        <span class="font-weight-bold">{{" detail: "}} </span>
                        <span>{{musicbox.detail}}</span>

                    </li>

                </ul>

            </div>
            <div class="col-md-6">
                <div class="alert alert-success" ng-if="successMessage">{{successMessage}}</div>
                <div class="alert alert-danger" ng-if="errorMessage">{{errorMessage}}</div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img src="http://seveneyesantiques.com/wp-content/plugins/special-recent-posts/cache/srpthumb-p1772-100x100-no.jpg">
                        </a>
                        <p>
                            <button type="button" class="btn btn-secondary btn-sm">upload</button>
                        </p>
                    </div>

                    <div class="media-body">

                        <span ng-hide="editMode" class="media-heading">
                            <p>
                                <h2>{{selectedMusicBox.name}}</h2>
                            </p>
                        </span>

                        <span ng-show="editMode">Name:</span>
                        <input type="text" ng-show="editMode" ng-model="selectedMusicBox.name">
                        <div>
                            <p>
                                <span>Id:</span>
                                <span ng-hide="addMode">{{selectedMusicBox.id}}</span>
                                <input type="text" ng-show="addMode" ng-model="selectedMusicBox.id">
                            </p>
                            <p>
                                <span>Price:</span>
                                <span ng-hide="editMode">{{selectedMusicBox.price}}</span>
                                <input type="text" ng-show="editMode" ng-model="selectedMusicBox.price">
                            </p>
                            <p>
                                <span>Detail:</span>
                                <span ng-hide="editMode">{{selectedMusicBox.detail}}</span>
                                <input type="text" ng-show="editMode" ng-model="selectedMusicBox.detail">
                            </p>
                            <button ng-hide="editMode" class="btn btn-warning" ng-click="toggleEditMode()">Edit</button>
                            <button ng-show="editMode" class="btn btn-success" ng-click="saveMusic()">Save</button>
                            <button ng-hide="editMode" type="button" ng-click="deleteMusic()" class="btn btn-danger">Delete</button>
                            <button ng-show="editMode" class="btn btn-danger" ng-click="cancel()">Cancel</button>


                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>




</body>

</html>