
        <div class="row">
            <div class="col-md-6">


                <!-- <ul class="list-group">
                    <div class="alert alert-primary" ng-if="addMessage">{{addMessage}}</div>
                    <button class="btn btn-primary" ng-click="addMusicbox()">Add</button>
                    <div style=" max-height: 500px;
                            overflow-y: scroll;">
                        <li class="list-group-item" ng-repeat="musicbox in musicboxs" ng-click="selectMusicBox($index)">
                            <span> {{musicbox.music_box_id+" "+musicbox.name}} </span>
                            <span class="font-weight-bold">{{" detail: "}} </span>
                            <span>{{musicbox.detail}}</span>
                        </li>
                    </div>
                </ul> -->


                <div>
                        <div class="alert alert-primary" ng-if="addMessage">{{addMessage}}</div>
                        <div class="alert alert-success" ng-if="successMessage">{{successMessage}}</div>
                        <div class="alert alert-danger" ng-if="errorMessage">{{errorMessage}}</div>
                  
                    <!-- <button class="btn btn-primary" ng-click="showCase.reloadData()">reload</button> -->
                    <!-- <p class="text-danger">You clicked on: <strong>{{ showCase.message }}</strong></p> -->
                    <h2 class="font-weight-bold">Music Boxes</h2>
                    <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="row-border hover"></table>
                    <button type="button" ng-click="addMusicbox()" class="btn btn-primary btn-lg btn-block">Add</button>
                </div>

            </div>
            <div class="col-md-6">
                <div style="padding-left: 50px;">
                    <div class="card mb-2" style="width: 24rem;">

                        <img class="card-img-top" src= {{image_url}} alt="Card image cap">
                        <div ng-show="editMode" class="custom-file">
                            <input type="file" demo-file-model="myFile" accept="image/*"  class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">{{filename}}</label>
                        </div>
                        <div ng-show="editMode" class="custom-file">
                            <input type="file" demo-file-model="myFile2"  accept="audio/*"  class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">{{filename2}}</label>
                        </div>

                        <div class="card-body">
                            <h2 ng-hide="editMode" class="card-title">{{selectedMusicBox.name}}</h2>
                            <div ng-show="editMode" class="form-group row">
                                <label class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-7">
                                    <input ng-model="selectedMusicBox.name" type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>

                            <p class="card-text" ng-hide="addMode">Id: {{selectedMusicBox.music_box_id}} </p>
                            <div ng-show="addMode" class="form-group row">
                                <label class="col-sm-3 col-form-label">Id</label>
                                <div class="col-sm-7">
                                    <input ng-model="selectedMusicBox.music_box_id" type="text" class="form-control" placeholder="Id">
                                </div>
                            </div>

                            <p class="card-text" ng-hide="editMode">Price: {{selectedMusicBox.price}} </p>
                            <div ng-show="editMode" class="form-group row">
                                <label class="col-sm-3 col-form-label">Price</label>
                                <div class="col-sm-7">
                                    <input ng-model="selectedMusicBox.price" type="text" class="form-control" placeholder="Price">
                                </div>
                            </div>

                            <p class="card-text" ng-hide="editMode">Detail: {{selectedMusicBox.detail}} </p>

                            <div ng-show="editMode" class="form-group">
                                <label for="exampleFormControlTextarea1">Detail</label>
                                <textarea ng-model="selectedMusicBox.detail" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <button ng-hide="editMode" class="btn btn-warning" ng-click="toggleEditMode()">Edit</button>
                            <button ng-show="editMode" class="btn btn-success" ng-click="saveMusic(); showCase.reloadData() ">Save</button>
                            <button ng-hide="editMode" type="button" ng-click="deleteMusic(); showCase.reloadData()" class="btn btn-danger">Delete</button>
                            <button ng-show="editMode" class="btn btn-danger" ng-click="cancel()">Cancel</button>


                        </div>

                    </div>
                </div>

            </div>

        </div>
