<!DOCTYPE html>
<html lang="en" ng-app="SSS">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>addShowroom</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="http://jtblin.github.io/angular-chart.js/node_modules/angular/angular.min.js"></script>
    <script src="http://jtblin.github.io/angular-chart.js/node_modules/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="js/datatable/datatables.min.js"></script>
    <script src="js/datatable/angular-datatables.min.js"></script>
    <script src="js/datatable/datatable.js"></script>
    <script src="js/datatable/datatables.bootstrap.js"></script>
    <script src="js/datatable/dataTables.responsive.min.js"></script>
    <script src="js/datatable/DataTables-1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="js/datatable/DataTables-1.10.16/js/jquery.dataTables.js"></script>

    <link rel="stylesheet" type="text/css" href="http://l-lin.github.io/angular-datatables/archives/dist/css/angular-datatables.css"
    />
    <link rel="stylesheet" href="js/datatable/datatables.bootstrap.css">
    <link rel="stylesheet" href="js/datatable/datatables.min.css">
    <link rel="stylesheet" href="js/datatable/responsive.dataTables.min.css">
    <link rel="stylesheet" href="js/datatable/DataTables-1.10.16/css/dataTables.bootstrap.min.css">

    <script src="js/map/script-tags-for-development.js"></script>
    <script src="js/addShowroom.controller.js"></script>

</head>

<body>
    <div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Smart Small Showroom</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="showTransactions.html">Transaction
                            <span class="sr-only">(Transaction)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="showCustomers.html">Customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=addShowroom.html>Showroom</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="addMusic.html">Music Box</a>
                    </li>


                </ul>
                <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
        </nav>

    </div>
    <div class="container" ng-controller="AddShowroomCtrl as vm">
        <div class="row-md-1">

            <!-- <ul class="list-group">
                <h4>Showrooms</h4>
                <div class="alert alert-primary" ng-if="addMessage">{{addMessage}}</div>
                <div style=" max-height: 400px;
                    overflow-y: scroll;">
                    <li class="list-group-item" ng-repeat="showroom in showrooms" ng-click="selectShowroom($index)">
                        <span class="font-weight-bold">{{" showroom_id: "}} </span>
                        <span> {{showroom.showroom_id}} </span>
                        <span class="font-weight-bold">{{" loaction: "}} </span>
                        <span>{{showroom.location}}</span>

                    </li>
                </div>
                <button class="btn btn-primary" ng-click="addShowroom()">Add</button>

            </ul> -->
            <div>
                <!-- <button class="btn btn-primary" ng-click="showCase.reloadData()">reload</button> -->
                <!-- <p class="text-danger">You clicked on: <strong>{{ showCase.message }}</strong></p> -->
                <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance" class="row-border hover"></table>
                <button type="button" ng-click="addShowroom()" class="btn btn-primary btn-lg btn-block">Add</button>
            </div>

        </div>
        <div class="row" style="padding-top:20px">
            <div class="col-md-6" style="padding-left:90px">
                <div>
                    <div class="alert alert-success" ng-if="successMessage">{{successMessage}}</div>
                    <div class="alert alert-danger" ng-if="errorMessage">{{errorMessage}}</div>
                    <div class="card mb-2" style="width: 24rem;">

                        <img class="card-img-top" src="https://www.tourismthailand.org/fileadmin/upload_img/Shopping/3751/IMG_0094_1391758975.JPG"
                            alt="Card image cap">
                        <div ng-show="editMode" class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose picture file</label>
                        </div>

                        <div class="card-body">
                            <h2 ng-hide="editMode" class="card-title">{{selectedShowroom.location}}</h2>
                            <div ng-show="editMode" class="form-group row">
                                <label class="col-sm-4 col-form-label">Location</label>
                                <div class="col-sm-7">
                                    <input ng-model="selectedShowroom.location" type="text" class="form-control" placeholder="Location">
                                </div>
                            </div>

                            <p class="card-text" ng-hide="addMode">Id: {{selectedShowroom.showroom_id}} </p>
                            <div ng-show="addMode" class="form-group row">
                                <label class="col-sm-4 col-form-label">Id</label>
                                <div class="col-sm-7">
                                    <input ng-model="selectedShowroom.showroom_id" type="text" class="form-control" placeholder="Id">
                                </div>
                            </div>

                            <p class="card-text" ng-hide="editMode">Region: {{selectedShowroom.region}} </p>
                            <div ng-show="editMode" class="form-group row">
                                <label class="col-sm-4 col-form-label">Region</label>
                                <div class="col-sm-7">
                                    <input ng-model="selectedShowroom.region" type="text" class="form-control" placeholder="Region">
                                </div>
                            </div>
                            <p class="card-text" ng-hide="editMode">Latitude: {{selectedShowroom.latitude}} </p>
                            <div ng-show="editMode" class="form-group row">
                                <label class="col-sm-4 col-form-label">Latitude</label>
                                <div class="col-sm-7">
                                    <input ng-model="selectedShowroom.latitude" type="text" class="form-control" placeholder="Latitude">
                                </div>
                            </div>
                            <p class="card-text" ng-hide="editMode">Longitude: {{selectedShowroom.longitude}} </p>
                            <div ng-show="editMode" class="form-group row">
                                <label class="col-sm-4 col-form-label">Longitude</label>
                                <div class="col-sm-7">
                                    <input ng-model="selectedShowroom.longitude" type="text" class="form-control" placeholder="Longitude">
                                </div>
                            </div>
                            <p class="card-text" ng-hide="editMode">Password: {{selectedShowroom.password}} </p>
                            <div ng-show="editMode" class="form-group row">
                                <label class="col-sm-4 col-form-label">Password</label>
                                <div class="col-sm-7">
                                    <input ng-model="selectedShowroom.password" type="password" class="form-control" placeholder="Password">
                                </div>
                            </div>

                            <p class="card-text" ng-hide="editMode">Detail: {{selectedShowroom.detail}} </p>

                            <div ng-show="editMode" class="form-group">
                                <label for="exampleFormControlTextarea1">Detail</label>
                                <textarea ng-model="selectedShowroom.detail" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <button ng-hide="editMode" class="btn btn-warning" ng-click="toggleEditMode()">Edit</button>
                            <button ng-show="editMode" class="btn btn-success" ng-click="saveShowroom(); vm.reloadData()">Save</button>
                            <button ng-hide="editMode" type="button" ng-click="deleteShowroom(); vm.reloadData()" class="btn btn-danger">Delete</button>
                            <button ng-show="editMode" class="btn btn-danger" ng-click="cancel()">Cancel</button>


                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <input ng-show="editMode" class="form-control" places-auto-complete size="55" ng-model="vm.address" types="{{types}}" on-place-changed="vm.placeChanged()"
                />
                <div style="height: 150px;">
                    <ng-map id="map" zoom="17" center={{lalong}} scrollwheel="true" zoom-to-include-markers="true" on-click="vm.addMarker()">
                        <marker ng-repeat="p in vm.positions" position="{{p.pos}}" Title="pos: {{p.pos}}" icon="js/map/icon/mapiconS.png" animation="Animation.BOUNCE"></marker>
                    </ng-map>
                </div>
            </div>
        </div>




</body>

</html>