<center>
  <div style="margin-top:50px">
    <form ng-hide="super_loggedIn ||loggedIn" action="/" id="myLogin">
      <input ng-model="username" type="text" name="username" id="username" placeholder="Username">
      <br>
      <input ng-model="password" type="password" name="password" id="password" placeholder="Password">
      <br>
      <button type="button" ng-click="login()">Login</button>
    </form>
    <div ng-show="super_loggedIn ||loggedIn">
      <h4>{{user}}</h4>
      <button type="button" ng-click="logout()">Logout</button>
    </div>

  </div>

</center>