

    <div class="row" style="margin-top: 50px;padding-top: 20px;padding-left: 20px;padding-right: 20px">

        <div class="col-md-11">
            <h3> <span>Showroom ID : {{showroom_detail[0].showroom_id}}</span> <span style="padding-left: 4%"> {{showroom_detail[0].location}} {{showroom_detail[0].region}}</span>
            </h3>
        </div>
        <div class="col-md-1">
            <button class="btn btn-danger" ng-click="logout()"> Logout</button>
        </div>

    </div>
    <div class="row" style="padding-top:30px;margin-bottom: 50px">
        <div class="col-md-4">
            <ul class="list-group">
                <div>
                    <center>
                        <h6>List of Music Box in Showroom</h6>
                    </center>

                    <li class="list-group-item" ng-repeat="m in m_and_s" ng-click="selectM_and_S($index)">
                        <span class="font-weight-bold">{{" Position: "}} </span>
                        <span>{{m.position}}</span>
                        <!-- <span class="font-weight-bold">{{"ID:   "}} </span>
                            <span style="padding-left:0.5mm">{{m.music_box_id}}</span> -->
                        <span style="padding-left:5mm" class="font-weight-bold">{{"Name: "}} </span>
                        <span>{{m.name}}</span>
                    </li>
                </div>

            </ul>
        </div>
        <div class="row">
        <div class="col-md-4" style="margin-bottom: 50px">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Position1</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" ng-model="selectedM[0]" ng-change="selectM_and_S2(selectedM[0])">
                    <option ng-repeat="x in list_musicbox_name">{{x}}</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Position2</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" ng-model="selectedM[1]" ng-change="selectM_and_S2(selectedM[1])">
                    <option ng-repeat="x in list_musicbox_name">{{x}}</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Position3</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" ng-model="selectedM[2]" ng-change="selectM_and_S2(selectedM[2])">
                    <option ng-repeat="x in list_musicbox_name">{{x}}</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Position4</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" ng-model="selectedM[3]" ng-change="selectM_and_S2(selectedM[3])">
                    <option ng-repeat="x in list_musicbox_name">{{x}}</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Position5</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" ng-model="selectedM[4]" ng-change="selectM_and_S2(selectedM[4])">
                    <option ng-repeat="x in list_musicbox_name">{{x}}</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Position6</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" ng-model="selectedM[5]" ng-change="selectM_and_S2(selectedM[5])">
                    <option ng-repeat="x in list_musicbox_name">{{x}}</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Position7</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" ng-model="selectedM[6]" ng-change="selectM_and_S2(selectedM[6])">
                    <option ng-repeat="x in list_musicbox_name">{{x}}</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Position8</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" ng-model="selectedM[7]" ng-change="selectM_and_S2(selectedM[7])">
                    <option ng-repeat="x in list_musicbox_name">{{x}}</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Position9</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" ng-model="selectedM[8]" ng-change="selectM_and_S2(selectedM[8])">
                    <option ng-repeat="x in list_musicbox_name">{{x}}</option>
                </select>
            </div>
            <div class="custom-file" style="margin-bottom: 20px">
                <input type="file" demo-file-model="myFile" accept="image/*" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">{{filename}}</label>
            </div>
            <button class="btn btn-primary btn-lg btn-block" ng-show="addBtn" ng-click="SubmitPos(); uploadFile()">Submit</button>
        </div>

        <div class="col-md-4" style=" margin-bottom: 50px">
            <div>
                <div class="card mb-2" style="width: 24rem;">

                    <img class="card-img-top" src={{image_url}}
                        alt="Card image cap">

                    <div class="card-body" style=" float: right;">
                        <h2 class="card-title">{{selectedM_and_S.name}}</h2>

                        <p class="card-text" ng-hide="editMode">ID: {{selectedM_and_S.music_box_id}} </p>

                        <p class="card-text" ng-hide="editMode">Price: {{selectedM_and_S.price}} </p>

                        <p class="card-text" ng-hide="editMode">Detail: {{selectedM_and_S.detail}} </p>
                    </div>

                </div>
            </div>
        </div>
        </div>
        <div class="row" style="background-color: #E8F8F5  ;margin-top: 10px; margin-bottom: 50px ;margin-left: 8%;margin-right: 10% ">
                <h3 style="margin-bottom: 5%">Promotion Picture</h3>
         <div id="logo">
                
                <img  src={{image_url2}}>
          </div>
            
        
           
        </div>
        
